CONFIG_TARGET_qualcommax=y
CONFIG_TARGET_qualcommax_ipq60xx=y
CONFIG_TARGET_qualcommax_ipq60xx_DEVICE_zn_m2=y

CONFIG_DEVEL=y
CONFIG_CCACHE=y
CONFIG_PACKAGE_luci-app-upnp=y
CONFIG_PACKAGE_luci-app-firewall=y
CONFIG_PACKAGE_luci-app-ntpc=y
CONFIG_PACKAGE_kmod-macvlan=y
CONFIG_PACKAGE_luci-app-switch=y

# remove wifi module 
CONFIG_DEFAULT_ath11k-firmware-ipq6018=n
CONFIG_DEFAULT_kmod-ath=n
CONFIG_DEFAULT_kmod-ath11k=n
CONFIG_DEFAULT_kmod-ath11k-ahb=n

# Qca
CONFIG_PACKAGE_kmod-qca-nss-crypto=y
CONFIG_PACKAGE_nss-eip-firmware=y
CONFIG_PACKAGE_qca-ssdk-shell=y

# custom plugins
CONFIG_PACKAGE_dnsmasq_full=y
CONFIG_PACKAGE_dnsmasq_full_ipset=y
CONFIG_PACKAGE_adguardhome=y
# CONFIG_PACKAGE_luci-app-vlmcsd=y this package would lead to compile error. So I disabled it.
CONFIG_PACKAGE_luci-app-wol=y
## zerotier
CONFIG_PACKAGE_luci-app-zerotier=y
CONFIG_PACKAGE_zerotier=y
## passwall
CONFIG_PACKAGE_luci-app-passwall=y
CONFIG_PACKAGE_luci-app-passwall_INCLUDE_Xray=y

CONFIG_PACKAGE_luci-app-flowoffload=y
CONFIG_PACKAGE_luci-app-cpufreq=y

## i18n actually I don't need them.
#CONFIG_PACKAGE_luci-i18n-wol-zh-cn=y
#CONFIG_PACKAGE_luci-i18n-zerotier-zh-cn=y
